.displayset{
    margin-left: 3% !important;
    margin-right: 3% !important;
 
}
.dset{
   margin-left: 2% !important;
   display: flex !important;
   flex-wrap: wrap;
}
@media screen {
    .dset{
        margin-left: 2% !important;
        display: flex !important;
        flex-wrap: wrap !important;
     }
}
.employercard{
    display: flex;
   flex-wrap: wrap !important;
   justify-content: center;
   width: 100%;
   margin-left: 2%;
   
}
.rex{
    background-color: rgb(243, 243, 243);
    height: 548px;
    margin-top: -2%;
    overflow-x: hidden;
}
.cardcoloremploy{
    justify-content: center;
    margin: 2%;
    padding: 1%;
    background-image: url("https://png.pngtree.com/png-vector/20190307/ourmid/pngtree-vector-element-of-business-data-graph-analytic-png-image_779763.jpg") !important;
width: 15%;
height: 100px;
}
.count{
    font-weight: 600;
   padding: 5%;
   color: red;
}
.employercard1{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    width: 100%;
    margin-left: 2%;
}
.cardcoloremploy1{
width: 50%;
margin-left: 2% !important;
height: 328px;
display: flex;
flex-wrap: wrap !important;
background-image: url("https://atlas-content-cdn.pixelsquid.com/assets_v2/188/1885747240119571566/jpeg-600/G03.jpg?modifiedAt=1");

}
.cardcoloremploy2{
    width: 36%;
    margin-left: 2% !important;
    margin-right: 2%;
    background-image: url("/src/Dashboard/monthlybudget.jpg");
    font-size: 24px !important;

}
.tablehead{
    margin-left: 5% !important;
}
.table{
    margin-left: 8%;
}